
<div class="background-details">
  <div class="background-details-photo">
     <div id="cocktail-img2">        <img src="/images/pina colada.jpeg" alt="cosmopolitan-img">
</div>
  </div>
  <div class="background-details-info">
    <h2 id="cocktail-name">{{strDrink}}</h2>
<p>Category: {{strCategory}}</p>
<p>Alcoholic: {{strAlcoholic}}</p>
<p>Glass: {{strGlass}}</p>
<p>Instructions: {{strInstructions}}</p>
<p>Ingredients: 
  <ul>
     <li>{{strIngredient1}}</li>
     <li>{{strIngredient2}}</li>
      <li>{{strIngredient3}}</li>
     <li>{{strIngredient4}}</li>
          <li>{{strIngredient5}}</li>
     <li>{{strIngredient6}}</li>
          <li>{{strIngredient7}}</li>
     <li>{{strIngredient8}}</li>
          <li>{{strIngredient9}}</li>
     <li>{{strIngredient10}}</li>
          <li>{{strIngredient11}}</li>
     <li>{{strIngredient12}}</li>
          <li>{{strIngredient13}}</li>
     <li>{{strIngredient14}}</li>
 <li>{{strIngredient14}}</li>
  </ul>

<div>Measures: 
  <ul>
     <li>{{strMeasure1}}</li>
     <li>{{strMeasure2}}</li>
      <li>{{strMeasure3}}</li>
     <li>{{strMeasure4}}</li>
          <li>{{strMeasure5}}</li>
     <li>{{strMeasure6}}</li>
          <li>{{strMeasure7}}</li>
     <li>{{strMeasure8}}</li>
          <li>{{strMeasure9}}</li>
     <li>{{strMeasure10}}</li>
          <li>{{strMeasure11}}</li>
     <li>{{strMeasure12}}</li>
          <li>{{strMeasure13}}</li>
     <li>{{strMeasure14}}</li>
 <li>{{strMeasure14}}</li>
  </ul>
<p>Date: {{dateModified}}</p>
<div class="edit-delete-btns">
<div>
  <button type="button" class="btn btn-light btn-sm"><a href="/myaccount/mycocktails/details/{{id}}/edit"> Edit cocktail </a></button>


</div>
         
<div>

     <form action="/myaccount/mycocktails/details/{{id}}/delete" method="POST">
                <button class="btn btn-secondary btn-sm">Delete cocktail</button>
            </form> 

</div>

            

   
</div>



</div>

