<div class="background-details-cocktail">
     <div class="background-details-info">
          <h2 id="cocktail-name">{{cocktail.strDrink}}</h2>
          <br>
          <p>Category: {{cocktail.strCategory}}</p>
          <p>Alcoholic: {{cocktail.strAlcoholic}}</p>
          <p>Glass: {{cocktail.strGlass}}</p>
          <br>
          <h2>Ingredients:</h2>
          <ul>
               <li>{{cocktail.strMeasure1}} {{cocktail.strIngredient1}}</li>
               <li>{{cocktail.strMeasure2}} {{cocktail.strIngredient2}}</li>
               <li>{{cocktail.strMeasure3}} {{cocktail.strIngredient3}}</li>
               <li>{{cocktail.strMeasure4}} {{cocktail.strIngredient4}}</li>
               <li>{{cocktail.strMeasure5}} {{cocktail.strIngredient5}}</li>
               <li>{{cocktail.strMeasure6}} {{cocktail.strIngredient6}}</li>
               <li>{{cocktail.strMeasure7}} {{cocktail.strIngredient7}}</li>
               <li>{{cocktail.strMeasure8}} {{cocktail.strIngredient8}}</li>
               <li>{{cocktail.strMeasure9}} {{cocktail.strIngredient9}}</li>
               <li>{{cocktail.strMeasure10}} {{cocktail.strIngredient10}}</li>
               <li>{{cocktail.strMeasure11}} {{cocktail.strIngredient11}}</li>
               <li>{{cocktail.strMeasure12}} {{cocktail.strIngredient12}}</li>
               <li>{{cocktail.strMeasure13}} {{cocktail.strIngredient13}}</li>
               <li>{{cocktail.strMeasure14}} {{cocktail.strIngredient14}}</li>
               <li>{{cocktail.strMeasure15}} {{cocktail.strIngredient14}}</li>
          </ul>
          <br>
          <h2>Instructions: </h2>
          <div>{{cocktail.strInstructions}}</div>
          <button type="button" class="create-btn"><a href="/myaccount/mycocktails/details/{{cocktail.id}}/edit">Edit
                    cocktail</a></button>
          <form action="/myaccount/mycocktails/details/{{cocktail.id}}/delete" method="POST">
               <button class="create-btn">Delete cocktail</button>
          </form>
          <br>
          <button type="button" class="create-btn"><a href="/myaccount/mycocktails">View all</a></button>
     </div>
</div>
</div>